@import url("./font.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --primary: 184 100% 32%;
    --secondary: 211 28% 21%;
  }

  html,
  body,
  #root {
    @apply w-full;
    font-family: "Vazir", sans-serif;
  }

  body {
    @apply bg-[#f1f1f3];
  }
}

/* nprogress styles */

#nprogress .bar {
  background: #6366f1;
  height: 4px;
}
