@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body,
  #root {
    @apply w-full;
  }

  body {
    @apply bg-[#F8F8FB];
  }

  * {
    font-family: "Vazirmatn";
  }
}

/* nprogress styles */

#nprogress .bar {
  background: #6366f1;
  height: 4px;
}
